extends layout

block content
    h1 #{title}
    form(method='POST' action='/admin/users/edit/'+name._id)
      #form-group
      label #{label_user_name}:
      input.form-control(type='text', name='user_name', value=name.user_name)
      #form-group
      label #{label_nick_name}:
      input.form-control(type='text', name='nick_name', value=name.nick_name)
      #form-group
      label #{label_password}:
      input.form-control(type='text', name='password', value=name.password)
      #form-group
      br
      button.btn.btn-primary(type='submit',value='Submit') Enviar
